@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


:root {
    --color-orange: hsl(31, 77%, 52%);
    --color-dark: hsl(184, 100%, 22%);
    --color-dark-1: hsl(179, 100%, 13%);
}

* {
    margin: 0;
    padding: 0; 
}
  
  *,
  *::before,
  *::after {
    box-sizing: inherit; 
}


  
html {
    box-sizing: border-box;
    font-size: 62.5%; 
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    max-width: 100%;
    /* text-align: center; */
    
}

.container  {
    width: 100%;
    padding: 6rem 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.card {
    background-color: var(--color-orange);
    padding: 5rem;
    position: relative;
}

.card .icon {
    margin-bottom: 2rem;
}

.card .title {
    margin-bottom: 2rem;
}

.card .title h1 {
    color: hsla(0, 0%, 100%);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 4.5rem;
    
}

.card .text {
    margin-bottom: 3rem;
}


.card .text p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    width: 100%;
    
}


.card .button {
    display: inline-block;

}

.card .button a{
    text-decoration: none;
    color: var(--color-orange);
    padding: 1.1rem 2.5rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: white;
    border-radius: 100px;
    border: 1px solid white;

}

.button a:hover {
    background-color: transparent;
    color: white !important;
}




.card-1 {
    border-radius: 5px 5px 0px 0px;
}


.card-2 {
    background-color: var(--color-dark);
}

.card-3 {
    background-color: var(--color-dark-1);
    border-radius: 0px 0px 5px 5px;
}

.card-2 .button a {
    color: var(--color-dark);
    filter: brightness(1);
}

.card-3 .button a {
    color: var(--color-dark-1, 0.7);
    filter: brightness(1);
}

@media only screen and (min-width: 1024px) {
    .card {
        max-width: 300px;
    }

    .container {
        height: 100vh;
    }

    
.card-1 {
    border-radius: 5px 0px 0px 5px;
}

.card-3 {
    border-radius: 0px 5px 5px 0px;
}

.card .text {
    margin-bottom: 10rem;
}

}

