*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

h1,h2,h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

li {
    list-style: none;
}

li:hover {
    border-bottom: 1px solid $white;
    transition: .2s linear;
}

a {
    text-decoration: none;
    color: #fff;
}