@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap');


html {
    font-size: 62.5%;

    @include responsive(tablet) {
        font-size: 50%;
    }
}

body {
    font-family: 'Alata', sans-serif;
}

