@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Alata', sans-serif;
}

.button {
  text-transform: uppercase;
  padding: 0.8rem 4rem;
  color: black;
  letter-spacing: 3px;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #8c8c8c;
}

.header {
  height: 70vh;
  padding: 0 12%;
  padding-top: 6rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.5))), url("../images/desktop/image-hero.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12rem;
}

.header__navigation__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.header__navigation__links ul li {
  font-size: 1.5rem;
  opacity: 0.9;
}

.header__content {
  width: 60%;
}

.header__content__title {
  border: 2px solid white;
  display: inline-block;
  padding: 3.5rem;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 3.6rem;
  text-transform: uppercase;
}

.header__content__title h1 {
  font-weight: 300;
}

.about {
  height: 100vh;
  position: relative;
  padding: 0 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.about__text {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding-left: 8rem;
  padding-top: 10rem;
  background: white;
  margin-left: -16rem;
}

.about__text__title {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.about__text__title h2 {
  font-weight: 300;
}

.about__text__paragraph {
  color: #8c8c8c;
  font-size: 1.5rem;
  line-height: 1.7;
}

.main {
  padding: 0 12%;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8rem;
}

.main__header__title {
  font-size: 3rem;
  text-transform: uppercase;
}

.main__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  margin-bottom: 15%;
}

.main__content__item {
  position: relative;
}

.main__content__item h3 {
  color: white;
  font-size: 3rem;
  position: absolute;
  bottom: 0;
  padding-left: 3.5rem;
  padding-bottom: 3.5rem;
  text-transform: uppercase;
  width: 80%;
}

.main__content__item img {
  height: 100%;
  width: 100%;
}

.footer {
  display: -ms-grid;
  display: grid;
  background: black;
  padding: 4rem 12%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.footer__logo img {
  width: 40%;
}

.footer__icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  opacity: 0.9;
}

.footer__copy p {
  color: #8c8c8c;
  font-size: 1.3rem;
}

.footer__copy {
  color: white;
}
/*# sourceMappingURL=main.css.map */