@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

li {
  list-style: none;
}

li:hover {
  border-bottom: 1px solid white;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

a {
  text-decoration: none;
  color: #fff;
}

html {
  font-size: 62.5%;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Alata', sans-serif;
}

.button {
  text-transform: uppercase;
  padding: 0.8rem 4rem;
  color: black;
  letter-spacing: 3px;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #8c8c8c;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.button:hover {
  background-color: black;
  color: white;
}

.header {
  height: 70vh;
  padding: 0 12%;
  padding-top: 6rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.5))), url("../images/desktop/image-hero.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 768px) {
  .header {
    padding: 0 5%;
    padding-top: 6rem;
  }
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12rem;
}

@media (max-width: 768px) {
  .header__navigation__links {
    display: none;
  }
}

.header__navigation__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.header__navigation__links ul li {
  font-size: 1.5rem;
  opacity: 0.9;
}

.header__navigation__mobile {
  display: none;
}

@media (max-width: 768px) {
  .header__navigation__mobile {
    display: block;
  }
}

.header__content {
  width: 60%;
}

@media (max-width: 768px) {
  .header__content {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.header__content__title {
  border: 2px solid white;
  display: inline-block;
  padding: 3.5rem;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 3.6rem;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .header__content__title {
    font-size: 2.7rem;
    padding: 0;
  }
}

.header__content__title h1 {
  font-weight: 300;
}

@media (max-width: 768px) {
  .header__content__title h1 {
    padding: 2rem;
  }
}

.about {
  height: 100vh;
  position: relative;
  padding: 0 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 1024px) {
  .about__content {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.about__content__image img {
  width: 100%;
}

.about__text {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding-left: 8rem;
  padding-top: 10rem;
  background: white;
  margin-left: -16rem;
}

@media (max-width: 1024px) {
  .about__text {
    margin-left: 0;
    padding-left: 0;
    text-align: center;
  }
}

.about__text__title {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.about__text__title h2 {
  font-weight: 300;
}

.about__text__paragraph {
  color: #8c8c8c;
  font-size: 1.5rem;
  line-height: 1.7;
}

.main {
  padding: 0 12%;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8rem;
}

.main__header__title {
  font-size: 3rem;
  text-transform: uppercase;
}

.main__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  margin-bottom: 15%;
}

@media (max-width: 768px) {
  .main__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.main__content__item {
  position: relative;
  cursor: pointer;
}

.main__content__item .image-bg {
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(35%, rgba(0, 0, 0, 0.4)), to(rgba(0, 212, 255, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 35%, rgba(0, 212, 255, 0) 100%);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
}

.main__content__item h3 {
  color: white;
  font-size: 3rem;
  position: absolute;
  bottom: 0;
  padding-left: 3.5rem;
  padding-bottom: 3.5rem;
  text-transform: uppercase;
  width: 80%;
}

.main__content__item img {
  height: 100%;
  width: 100%;
}

.main__content__item:hover > img {
  opacity: 0.3;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.main__content__item:hover > h3 {
  color: black;
}

.footer {
  display: -ms-grid;
  display: grid;
  background: black;
  padding: 4rem 12%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

@media (max-width: 768px) {
  .footer__content {
        grid-template-areas: "logo" "links" "icons" "copy";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer__logo {
    grid-area: logo;
  }
}

.footer__logo img {
  width: 40%;
}

@media (max-width: 768px) {
  .footer__icons {
    grid-area: icons;
  }
}

.footer__icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .footer__icons ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer__links {
    grid-area: links;
  }
}

.footer__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .footer__links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .footer__copy {
    grid-area: copy;
  }
}

.footer__copy p {
  color: #8c8c8c;
  font-size: 1.3rem;
}
/*# sourceMappingURL=main.css.map */