@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


/* font-family: 'Ubuntu', sans-serif; */

/* font-family: 'Overpass', sans-serif; */


:root {
    --color-white: hsl(0, 0%, 100%);
    --color-footer: hsl(240, 2%, 79%);
    --color-body: hsl(207, 13%, 34%);
    --color-footer-bg: hsl(240, 10%, 16%);


    --color-red: hsl(356, 100%, 66%);
    --color-hover: hsl(355, 100%, 74%);
    --color-headings: hsl(208, 49%, 24%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}


body {
    height: 100%;
    width: 100%;
    font-family: 'Overpass', sans-serif;
}

header {
    height: 70vh;
    background-image: url(images/bg-pattern-intro.svg),linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 29%;
    padding: 5rem 10%;
    border-radius: 0px 0px 0px 100px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-family: 'Overpass', sans-serif;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-mobile {
    display: none;
    cursor:pointer;
}

.menu {
    display: none;
    width: 300px;
    margin: auto;
    padding: 2rem;
    background: var(--color-white);
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0, .2);
}

.active {
    display: block !important;
}

.menu .links-menu {
    text-align: center;
}

.menu .links-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
} 

.menu .links-menu #connect {
    margin: 0;
    padding-bottom: 4rem;
    border-bottom: 1px solid #8080803b;
}

.menu .links-menu .product-menu {
    margin-top: 2rem;
}


.menu .links-menu p {
    font-size: 2.5rem;
    line-height: 1;
    color: var(--color-headings);
    font-weight: 700;
    
}

.menu .links-menu .log-in {
    border: none;
    background-color: transparent;
    color: var(--color-headings);
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    cursor: pointer;
}

.menu .links-menu .sign-up {
    display: block;
    margin: auto;
    border: none;
    background:linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    padding: 1.8rem 5rem;
    color: var(--color-white);
    border-radius: 100px;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 1;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 2rem;
    cursor: pointer;
}

.menu .links-menu .list {
    display: none;
    background: #eaeaec;
    padding: 1rem;
    border-radius: 5px;
    transition: .2s ease-in;
}

.menu .links-menu .list li:first-child{
   margin-top: 2rem;
}

.menu .links-menu .list a {
    margin-bottom: 2rem;
    font-size: 1.7rem;
    color: #2a5172;
    font-weight: 700;

}

.active img:first-child {
    content: url(images/icon-close.svg);
}







.nav .logo {
    margin-right: 7rem;
    line-height: 0;
}

.nav .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-right: auto;
}

.nav .register .log-in {
    color: #ffffffad;
    font-size: 1.3rem;
    margin-right: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav .register .sign-up {
    cursor: pointer;
    padding: 1.3rem 3rem;
    border-radius: 100px;
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    border: none;
    background-color: var(--color-white);
    color: var(--color-hover);
    margin-right: 11px;
}

.nav .register .sign-up:hover {
    transition: .2s ease-in;
    background: var(--color-hover);
    color: var(--color-white);
}

.nav .links a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    line-height: 0.6;
    text-decoration: none;
    color: #ffffffad;
    font-size: 1.4rem;
    font-weight: 600;
}

.content {
    text-align: center;
    position: relative;
    top: 30%;
}

.content .title {
    color: var(--color-white);
    font-size: 2.7rem;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 1rem;
}

.content .sub-title {
    margin-top: 5px;
    color: var(--color-white);
    opacity: 0.7;
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.buttons button {
    cursor: pointer;
    padding: 1.3rem 2.5rem;
    border-radius: 100px;
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    border: none;
}

.buttons .start {
    background-color: var(--color-white);
    color: var(--color-hover);
    margin-right: 11px;
}

.buttons .start:hover {
    transition: .2s ease-in;
    background: var(--color-hover);
    color: var(--color-white);
}

.buttons .learn {
    background-color: transparent;
    border: 1px solid #ffffff78;
    color: var(--color-white);
}

.buttons .learn:hover {
    transition: .2s ease-in;
    background-color: var(--color-white);
    color: var(--color-hover);
}

main {
    
    overflow: hidden;
}

 .main-title {
    margin-top: 15rem;
    text-align: center;
    font-size: 1.8rem;
    color: var(--color-headings);

}

.container {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-left:10%;
    margin-top: -8rem;
    margin-bottom: 2rem;
    
}

.container .right {
    width: 132%;
    position: relative;
    right: -3%;
}

.container .right img {
    width: 100%;
}

.container .left {
    width: 85%;
}

.container .left .text h3  {
    color: var(--color-headings);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.container .left .text p  {
    color: #686868;
    font-size: 1.75rem;
    margin-bottom: 2rem;
    line-height: 1.6;
}



.state {
    padding: 0 6%;
    height: 40vh;
    background-image: url(images/bg-pattern-circles.svg), linear-gradient(to right ,hsl(237, 17%, 21%),hsl(237, 23%, 32%));
    /* background-size: 100%; */
    border-radius: 0px 100px 0px 150px;
    background-position: -50% 78%;
    background-repeat: no-repeat;
}

.state .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.phones {
    max-height: 40vh;
}
.phones img {
    width: 100%;
    position: relative;
    top: -80px;
    max-width: 550px;
}

.about h1 {
    color: var(--color-white);
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.about p {
    color: var(--color-white);
    width: 85%;
    opacity: 0.7;
    line-height: 1.5;
    font-size: 1.75rem;   
}

.oferta {
    overflow: hidden;
}

.oferta .container {
    margin: 13rem 0;
    padding-left: unset;
    padding-right: 10%;
}

.oferta .container .right {
    
    /* position: relative; */
    right: unset;
    left: -37%;
}

footer {
    height: 40vh;
    background: var(--color-footer-bg);
    padding-left: 10%;
    padding-top: 6rem;
    border-radius: 0px 100px 0px 0px;
}

footer .footer {
    display: flex;
    align-items: flex-start;
    gap: 14rem;
}

.footer .logo {
    line-height: 1;
}


footer .footer .footer-links {
    display: flex;
    padding-top: 1.5rem;
    font-size: 1.4rem;
    gap: 21rem;
}

footer .footer .footer-links h4 {
    color: var(--color-white);
    margin-bottom: 2.5rem;
}

footer .footer .footer-links li {
    margin-bottom: 1rem;
}



footer .footer .footer-links li:last-child {
    margin-bottom: 0;
}


footer .footer .footer-links a {
    color: #ffffffad;
}

footer .footer .footer-links a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 50%;
    }
}


@media only screen and (max-width: 1024px){

    .container {
        margin-top: 5rem;
        margin-bottom: 10rem;
    }

    footer .footer .footer-links {
        

        flex: 1;
        gap:unset;
        justify-content: space-evenly;
    }

    footer .footer {
        gap: unset;
    }
}


@media only screen and (max-width: 768px){
    footer {
        padding-left: 0;
        gap:50%;
    }

    .nav .links,
    .register {
        display: none;
    }

    .nav-mobile {
        display: block;
        margin-right: unset;
    }

    .nav .logo {
        margin-right: auto;
    }

    .content .title {
        
        font-size: 2.1rem;
    }
}



@media only screen and (max-width: 600px){

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        grid-template-areas: 
        "first"
        "second"
        ;
        padding: 10%;
    }

    .container .right {
        grid-area: first;
        width: 100%;
        right: unset;
    }

    .oferta .container .right {
        /* position: relative; */
        right: unset;
        left: unset;
    }

    .oferta .container {
        padding-right: unset;
        padding: 10%;
    }



    .container .left {
        grid-area: second;
        width: 100%;
    }

    .about {
        margin-top: 5rem;
        text-align: center;
    }

    .about p {
        width: 100%;
    }

    .state {
        height: 80%;
    }

    .state .card {
        grid-template-columns: 1fr;
    }

}






/* font-family: 'Ubuntu', sans-serif; */

/* font-family: 'Overpass', sans-serif; */